ul{
	list-style: none;
}

body{
	margin: 0;
}


header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 128, 0, 0.692);
}
header img{
	height: 80%;
	width: 50%;
}
header h1{
	font-size: 20px;
}
