/* main-headding */
.main-headding{
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 0.75px solid rgb(165, 165, 165);
}


/* main */
main{
	margin-top: 5%;
}

.sell{
	text-align: center;
	font-weight: bolder;
}

.smallfont{
	text-align: center;
}
